/* Shared Style */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    font-size: 20px;
    border-radius: 5px;
    background: #FD6E0A;
}

/*nav related styles*/
nav {
    display: flex;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}