/* common shared styles */
body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px ;
    font-size: 20px;
    border: 0;
    font-weight: 700;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 500px;
}