/* Shared Styles */
body {
    font-family: "Open Sans", sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

/* Nav Related Styles */
nav {
    display: flex;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    font-size: 20px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;

}