/* common shared styles */
body {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    border: 0;
    font-weight: 700;
}

.section-title {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: #181818;
}

.section-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-picture {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about-info {
    text-align: center;
    margin-right: 37px;

}

.info-title {
    font-size: 20px;
    font-weight: 400;
    color: #757575;

}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;

}

/* what i do/ skills related styles */
#what-i-do-description {
    padding: 30px 150px;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
}
.skill-description{
    font-size: 16px;
    color: #757575;
}
/* Resume-section styles */

.resume-column-title{
    font-size: 30px;
    color: #474747;
    font-weight: 700;
}